/* Large desktop */
@media (min-width: 1200px) {
    .custom-1 ul.unstyled{
        margin: 0 10%;
    }
    .navbar .brand {
            padding: 0;
    }
    .home h2{
        margin-left: -25px;
    }
    .home h2 strong{
        text-align: left;
        font-size: 60px;
    }
    .home h5{
        margin-left: -25px;
    }
    .home .btn-custom{
        
    }
    .custom-1 .back-rounded {
        width: 190px;
        height: 190px;
    }
    .home h2{
        margin-left: -25px;
        line-height: 60px;
    }
    .home h2 strong{
        text-align: left;
        font-size: 60px;
    }
    .home h5{
        margin-left: -25px;
        line-height: 25px;
    }
    .home .btn-custom{
        margin-top:5%;
        margin-left: -25px;
    }
    .btn-custom{
        font-size: 17px;
    }
    .btn-large {
        padding: 15px 20px;
    }
    .google-maps {
        position: relative;
        padding-bottom: 65.25%;
        padding-top: 30px;
        height: 0;
        overflow: hidden;
    }
    .google-maps iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    } 

}
 
@media (min-width: 979px) and (max-width: 1200px) {
    .custom-1 ul.unstyled{
        margin: 0;
    }
    .navbar .brand {
        padding: 0;
    }
    .home h5{
        line-height: 25px;
        width: 30%;
        word-wrap: break-word;
        margin-top: 5%;
    }   
    .home .btn-custom-slider{
        margin-top: 3%;
    } 
    .custom-1 .back-rounded {
        width: 190px;
        height: 190px;
    }
    .home h5{
        line-height: 25px;
        width: 30%;
        word-wrap: break-word;
        margin-top: 5%;
    }   
    .home .btn-custom-slider{
            /*margin-top: 5%;*/
    }
    .home .btn-custom-hidden{
        margin-top: 0%;
    }
    .btn-only-mobile{
        /*display: none;*/
    }
    .btn-custom{
        font-size: 17px;
    }
    .btn-large {
        padding: 14px 18px;
    }

}
 
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
	h2 { font: 100 36px/52px "Open Sans", Arial, Helvetica, Geneva, sans-serif;     line-height:40px;}
	h3 { font: 100 24px/28px "Open Sans", Arial, Helvetica, Geneva, sans-serif;     line-height:30px; }
	h4 { font: 100 24px/28px "Open Sans", Arial, Helvetica, Geneva, sans-serif;     line-height:30px; }
	h5 { font: 100 14px/24px "Open Sans", Arial, Helvetica, Geneva, sans-serif;     line-height:18px; }
	h6 { font: 100 14px/20px "Open Sans", Arial, Helvetica, Geneva, sans-serif;     line-height:18px; }
	body {
		padding: 0;
	}
	.wrapper {
		padding-left: 10px;
		padding-right: 10px;
	}
	.overlay {
		padding-left: 0px;
		padding-right: 0px;
	}
	.navbar-fixed-top, 
	.navbar-fixed-bottom, 
	.navbar-static-top {
		margin-left: 0;
		margin-right: 0;
	}
	.navbar .brand {
		padding: 10px 10px 0;
		padding: 0;
	}
	.navbar .brand img{
		width: 70%;
	}
	.navbar .nav > li > a {
		padding: 10px;
		border-top: 1px solid #f6f6f6;
	}
	.nav-collapse .nav > li > a {
		margin-bottom: 0px;
	}
	.nav-collapse .nav {
		margin: 0;
	}
	.navbar .btn-navbar {
		background-image: none;
		background-color: transparent;
		border-color: transparent;
		box-shadow: none;
		-webkit-box-shadow: none;
		border-left: 1px solid #eee;
		border-radius: 0;
		-webkit-border-radius: 0;
		padding: 20px;
		margin: 0;
	}
	.navbar .btn-navbar .icon-bar {
		background-color: #000;
	}
	.navbar-fixed-top .navbar-inner, 
	.navbar-fixed-bottom .navbar-inner {
		padding: 0;
	}
	.carousel-control {
		display: none !important;
	}
	.price {
		font-size: 50px;
	}
	.decimal {
		font-size: 28px;
	}
	.icon-3x {
		font-size: 2em;	
	}
	.icon-4x,
	.icon-5x {
		font-size: 3em;	
	}
	.main-title h2 {
		font-size: 44px;
		margin: 0 0 10px;
	}
	.home {
		background-size: 770px auto;
		min-height: 580px;
		padding-top: 0;
	}
	.home .overlay{
		background-size: 770px auto;
		min-height: 580px;
		padding-top: 0;
	}
	#back {
		left: -510px;
		z-index: -1;
	}
	.anchor {
		position: absolute;
		top: 0;
	}
        .custom-1 ul.unstyled{
            margin: 0;
	}
        .custom-1, .custom-2, .custom-3, .custom-4{
            padding: 0;
        }
        .home h2{
            text-align: left;
            font-size: 46px;
            line-height: 50px;
        }
        .home h5{
            line-height: 20px;
            width: 30%;
            word-wrap: break-word;
            margin-top: 10%;
        }   
        .custom-1 .back-rounded {
            width: 170px;
            height: 170px;
        }
        .home h2{
            text-align: left;
            font-size: 46px;
            line-height: 50px;
        }
        .home h5{
            line-height: 20px;
            width: 30%;
            word-wrap: break-word;
            margin-top: 10%;
        }   
        .btn-only-mobile{
            /*display: none;*/
        }
        #button-started{
            display: none;
        }
        .btn-custom{
            font-size: 14px;
        }
        .btn-large {
            padding: 11px 19px;
        }
        .btn-partner-custom {
            margin-top: 4px;
            margin-left: 30px;
        }
		.btn-partner{
			margin-top: 5px;
		}
		.btn-partner-custom{
			margin-left: -1%;
		}
                .google-maps {
                    position: relative;
                    padding-bottom: 65.25%;
                    padding-top: 30px;
                    height: 0;
                    overflow: hidden;
                }
                .google-maps iframe {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                }         
}
 
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
	h2 { font: 100 32px/52px "Open Sans", Arial, Helvetica, Geneva, sans-serif;      line-height:40px;}
	h5 { font: 100 14px/24px "Open Sans", Arial, Helvetica, Geneva, sans-serif;      line-height:18px;}
	body {
		padding: 0;
	}
	.wrapper {
		padding-left: 10px;
		padding-right: 10px;
		text-align: center;
	}
	.overlay {
		padding-left: 0px;
		padding-right: 0px;
	}
        img {
            max-width: 60%;
        }
	.home .overlay{
		padding-top: 0;
		background-size: 590px auto;
		min-height: 560px;
	}
	.navbar-fixed-top, 
	.navbar-fixed-bottom, 
	.navbar-static-top {
		margin-left: 0;
		margin-right: 0;
	}
	.navbar .brand {
		padding: 10px 10px 0;
		padding: 0;
	}
	.navbar .brand img{
		width: 70%;
	}
	.navbar .nav > li > a {
		padding: 10px;
		border-top: 1px solid #f6f6f6;
	}
	.nav-collapse .nav > li > a {
		margin-bottom: 0px;
	}
	.nav-collapse .nav {
		margin: 0;
	}
	.navbar .btn-navbar {
		background-image: none;
		background-color: transparent;
		border-color: transparent;
		box-shadow: none;
		-webkit-box-shadow: none;
		border-left: 1px solid #eee;
		border-radius: 0;
		-webkit-border-radius: 0;
		padding: 20px;
		margin: 0;
	}
	.navbar .btn-navbar .icon-bar {
		background-color: #000;
	}
	.navbar-fixed-top .navbar-inner, 
	.navbar-fixed-bottom .navbar-inner {
		padding: 0;
	}
	.tab-content {
		text-align: center;
	}
	.row-fluid [class*="span"].bordered {
		display: inline-block !important;
		width: auto;
	}
	.pricing-table {
		margin-bottom: 20px;
	}
	.focus {
		margin-top: 0;
	}
	.focus .pricing-price {
		padding: 40px 0;
	}
	.carousel-control,
	.arrow {
		display: none !important;
	}
	#back {
		top: -1050px;
		left: -610px;
		z-index: -1;
	}
	.team {
		padding: 10px 0;
		margin: 0 0 20px;
		border-bottom: 1px solid rgba(255,255,255,.2);
	}
        .custom-1, .custom-2, .custom-3, .custom-4{
            padding: 0;
        }
	.custom-1 ul.unstyled {
            margin: 0% 30%;
        }
	.custom-1 .row-fluid .span3 {
            margin-top: 10%;
        }
        .text-custom{
            padding: 0 5%;
        }

        .home h2{
            text-align: left;
            font-size: 32px;
            line-height: 36px;
        }
        .home h5{
            line-height: 20px;
            font-size: 16px;
            word-wrap: break-word;
            margin-top: 10%;
            text-align: left;
        }   
        .home .btn-custom-slider{
            /*margin-top: 5%;*/
        }  
        .custom-1 .back-rounded {
            width: 190px;
            height: 190px;
        }
        .home .btn-custom-slider{
            /*margin-top: 5%;*/
        } 
        .home h2{
            text-align: left;
            font-size: 32px;
            line-height: 36px;
        }
        .home h5{
            line-height: 20px;
            font-size: 16px;
            word-wrap: break-word;
            margin-top: 10%;
            text-align: left;
        }   
        .home .btn-custom-slider{
            /*margin-top: 5%;*/
        } 
        .home .btn-custom-hidden{

        }
        .btn-only-mobile{
            /*display: none;*/
        }
        #button-started{
            display: none;
        }
        .btn-custom{
            font-size: 14px;
        }
        .btn-large {
            padding: 11px 19px;
        }
		.btn-partner{
			margin-top: 9%;
		}
		.btn-partner-custom{
			margin-top: 9%;
		}
		.tp-bullets.simplebullets.navbar {
			display: none;
		}
                .google-maps {
                    position: relative;
                    padding-bottom: 65.25%;
                    padding-top: 30px;
                    height: 0;
                    overflow: hidden;
                }
                .google-maps iframe {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                } 

}
 
/* Landscape phones and down */
@media (max-width: 480px) {
	body {
		padding: 0;
	}
	h2, .main-title h2 { font: 100 28px/40px "Open Sans", Arial, Helvetica, Geneva, sans-serif;     line-height:32px; }
	h3, .main-title h3 { font: 100 20px/24px "Open Sans", Arial, Helvetica, Geneva, sans-serif;     line-height:25px; }
	h4 { font: 100 20px/24px "Open Sans", Arial, Helvetica, Geneva, sans-serif;     line-height:25px; }
	h5 { font: 100 14px/18px "Open Sans", Arial, Helvetica, Geneva, sans-serif;     line-height:18px; }
	h6 { font: 100 14px/18px "Open Sans", Arial, Helvetica, Geneva, sans-serif;     line-height:18px; }
        img {
            max-width: 60%;
        }
	#back {
		top: -1150px;
		left: -730px;
		z-index: -1;
	}
	.home .overlay{
		background-size: 310px auto;
		min-height: 500px;
	}
	.wrapper {
		padding-left: 10px;
		padding-right: 10px;
		text-align: center;
	}
	.overlay {
		padding-left: 0px;
		padding-right: 0px;
	}
	.main-title {
		margin: 0 0 50px;
	}
	blockquote {
		text-align: left;
	}
	footer {
		text-align: center;
	}
	footer ul.inline > li, 
	footer ol.inline > li,
	footer .copyright {
		display: block;
		text-align: center;
		padding: 10px 0;
	}
	.btn {
		display: block;
		margin-bottom: 10px;
	}
	.team {
		padding: 10px 0;
		margin: 0 0 20px;
		border-bottom: 1px solid rgba(255,255,255,.2);
	}
	.pricing-table {
		margin-bottom: 20px;
	}
	.focus {
		margin-top: 0;
	}
	.focus .pricing-price {
		padding: 40px 0;
	}
	.carousel-control,
	.arrow {
		display: none !important;
	}
	.navbar-fixed-top, 
	.navbar-fixed-bottom, 
	.navbar-static-top {
		margin-left: 0;
		margin-right: 0;
	}
	.navbar .brand {
		padding: 10px 10px 0;
		padding: 0;
	}
	.navbar .brand img{
		width: 70%;
	}
	.navbar .nav > li > a {
		padding: 10px;
		border-top: 1px solid #f6f6f6;
	}
	.nav-collapse .nav > li > a {
		margin-bottom: 0px;
	}
	.nav-collapse .nav {
		margin: 0;
	}
	.navbar .btn-navbar {
		background-image: none;
		background-color: transparent;
		border-color: transparent;
		box-shadow: none;
		-webkit-box-shadow: none;
		border-left: 1px solid #eee;
		border-radius: 0;
		-webkit-border-radius: 0;
		padding: 20px;
		margin: 0;
	}
	.navbar .btn-navbar .icon-bar {
		background-color: #000;
	}
	.navbar-fixed-top .navbar-inner, 
	.navbar-fixed-bottom .navbar-inner {
		padding: 0;
	}
	.anchor {
		top: 0;
	}
        .custom-1, .custom-2, .custom-3, .custom-4, .home .overlay{
            padding: 0;
        }
	.custom-1 ul.unstyled {
            margin: 0% 25%;
        }
        .custom-1 .row-fluid .span3 {
            margin-top: 10%;
        }
        .text-custom{
            padding: 0 5%;
        }
        .home h2{
            text-align: left;
            line-height: 30px;
        }
        .home h5{
            line-height: 18px;
            width: 30%;
            word-wrap: break-word;
            margin-top: 10%;
        }
        .home .btn-custom-slider{
            /*margin-top: 5%;*/
        }
        .custom-1 .back-rounded {
            width: 190px;
            height: 190px;
        }
        .home h2{
            text-align: left;
            line-height: 30px;
        }
        .home h5{
            line-height: 18px;
            width: 30%;
            word-wrap: break-word;
            margin-top: 10%;
        }
        .home .btn-custom-slider{
            /*margin-top: 5%;*/
        }
        .home .btn-custom-hidden{

        }
        .btn-only-mobile{
            /*display: none;*/
        }
        #button-started{
            display: none;
        }
        .btn-custom{
            font-size: 12px;
        }
        .btn-large {
            padding: 8px 15px;
        }
		.btn-partner{
			margin-top: 10%;
			margin-left: 1%;
		}
		.btn-partner-custom{
			margin-top: 10%;
		}
		.tp-bullets.simplebullets.navbar {
			display: none;
		}
 
}


















